page-media-info {

    .cover_image {
        position: relative;
        height: 200px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: brightness(50%);
    }

    .custom-popover {
        width: 100px;
      }

}
