page-login {

    ion-input {
        background-color: color($colors, light, base);
        border-radius: 20px;
    }

    ion-grid {
        height: 100%;
        justify-content: center;
    }


}
