<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar>
    <ion-title>My List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item text-center *ngIf="myList.length == 0">
      <p>{{error ? "Could not get your list :(" : "Your list is empty."}}</p>
    </ion-item>
    <ion-item no-lines *ngFor="let item of myList; let i = index;" (click)="openMedia(i);">
      <ion-avatar item-start>
        <img style="object-fit: cover;" src="{{item.coverImage.medium}}" />
      </ion-avatar>
      <h2>{{item.title.length > MAX_TITLE_LEN ? item.title.substring(0, MAX_TITLE_LEN) + "..." : item.title}}
        <span style="float:right;">{{item.rating}} stars</span>
      </h2>
      <h3>watched on {{item.watchDate.getDate() + " " + item.watchDate.getMonth() + " " + item.watchDate.getFullYear()}}
        <span style="float: right; opacity: 0.5;">#{{i + 1}}/{{myList.length}}</span>
      </h3>
    </ion-item>

  </ion-list>
  <ion-fab right bottom>
    <button (click)="addItem();" ion-fab color="light">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>