page-show-view {
    .back_arrow {
        margin: 20px;
        z-index: 1;
    }
    .header_container {
        margin-top: -100px;
        position: relative;
        text-align: center;
    }
    .content_container {
        color: color($colors, dark, base);
        position: relative;
        margin: 0px;
    }
    .card_a {
        margin: 40px 10px 40px 10px;
        margin-bottom: 40px;
    }
    .card_a h1 {
        margin: 40px 10px 40px 10px;
        font-size: 16px;
        text-align: center;
    }
    .card_b {
        margin: 40px 10px 40px 10px;
    }
    .card_b h1 {
        font-size: 12px;
    }
    .card_b p {
        font-size: 18px;
        color: color($colors, dark, base);
        text-align: center;
    }
    .show_data {
        margin: 40px 10px 40px 10px;
        font-size: 12px;
        color: color($colors, dark, base);
    }
    .header_img {

        filter: brightness(60%);
    }
    .header_title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3em;
        color: white;
    }
    .friends_wrapper {
        margin-bottom: 40px;
    }
    .friends_wrapper h1 {
        margin: 0px 10px 10px 10px;
        font-size: 18px;
    }
    .scrolling_area {
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
    .friend_item {
        display: inline-block;
    }
    .friend_item img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(50%);
    }
    .friend_item p {
        margin: 0px;
        font-size: 12px;
    }
    .friend_img_container {
        position: relative;
    }
    .friend_rating {
        color: white;
        position: absolute;
        top: 5px;
        right: 8px;
    }
    .rating {
        font-size: 20px;
        color: white;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}