<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar no-border-top>
    <button ion-button icon-only menuToggle (click)="closeModal()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>Add</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>


  <ion-searchbar [(ngModel)]="query" [showCancelButton]="true" (ionInput)="search($event);" (ionCancel)="search(null);">
  </ion-searchbar>
  <ion-segment [(ngModel)]="selectedMediaType">

    <ion-segment-button value="3">
      ALL
    </ion-segment-button>
    <ion-segment-button value="0">
      ANIME
    </ion-segment-button>
    <ion-segment-button value="1">
      SHOWS
    </ion-segment-button>
    <ion-segment-button value="2">
      MOVIES
    </ion-segment-button>
  </ion-segment>
  <ion-content style="max-height: 400px; height: 300px;">

    <div [ngSwitch]="selectedMediaType">
      <ion-list *ngSwitchCase="3">

        <ion-item no-lines [ngClass]="(i == selectedSearchResult) ? 'selected' : ''" *ngFor="let item of searchResults; let i = index"
          (click)="selectSearchResult(i);">
          <ion-avatar item-start>
            <img style="object-fit: cover;" src="{{item.coverImage.medium}}">
          </ion-avatar>
          <h2>{{item.title}}</h2>
          <h3>
            <i style="color:gray;">({{item.type.toLowerCase()}})</i> - {{item.startDate.year}} - {{item.source}}</h3>
        </ion-item>

      </ion-list>

      <ion-list *ngSwitchCase="0">

        <ion-item no-lines [ngClass]="(i == selectedSearchResult) ? 'selected' : ''" *ngFor="let item of filteredSearchResults[0]; let i = index"
          (click)="selectSearchResult(i);">
          <ion-avatar item-start>
            <img style="object-fit: cover;" src="{{item.coverImage.medium}}">
          </ion-avatar>
          <h2>{{item.title}}</h2>
          <h3>
            <i style="color:gray;">({{item.type.toLowerCase()}})</i> - {{item.startDate.year}} - {{item.source}}</h3>
        </ion-item>

      </ion-list>

      <ion-list *ngSwitchCase="1">

        <ion-item no-lines [ngClass]="(i == selectedSearchResult) ? 'selected' : ''" *ngFor="let item of filteredSearchResults[1]; let i = index"
          (click)="selectSearchResult(i);">
          <ion-avatar item-start>
            <img style="object-fit: cover;" src="{{item.coverImage.medium}}">
          </ion-avatar>
          <h2>{{item.title}}</h2>
          <h3>
            <i style="color:gray;">({{item.type.toLowerCase()}})</i> - {{item.startDate.year}} - {{item.source}}</h3>
        </ion-item>

      </ion-list>

      <ion-list *ngSwitchCase="2">

        <ion-item no-lines [ngClass]="(i == selectedSearchResult) ? 'selected' : ''" *ngFor="let item of filteredSearchResults[2]; let i = index"
          (click)="selectSearchResult(i);">
          <ion-avatar item-start>
            <img style="object-fit: cover;" src="{{item.coverImage.medium}}">
          </ion-avatar>
          <h2>{{item.title}}</h2>
          <h3>
            <i style="color:gray;">({{item.type.toLowerCase()}})</i> - {{item.startDate.year}} - {{item.source}}</h3>
        </ion-item>

      </ion-list>
    </div>
  </ion-content>


  <ion-list>

    <ion-item text-center *ngIf="selectedSearchResult >= 0;">
      <h1>{{searchResults[selectedSearchResult].title.length > MAX_TITLE_LEN ? searchResults[selectedSearchResult].title.substring(0,
        MAX_TITLE_LEN) + "..." : searchResults[selectedSearchResult].title}}</h1>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="comments" placeholder="Comments..."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Your rating {{rating ? "is a " + rating : ""}}</ion-label>
      <ion-range [(ngModel)]="rating" type="number" min="0" max="10" step="1" snaps="true" pin="true">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>10</ion-label>
      </ion-range>
    </ion-item>


    <ion-item>
      <button ion-button color="light" round full large (click)="addNew();">Add</button>
    </ion-item>



  </ion-list>



</ion-content>